@use '../custom' as *;
@use '../mixins' as *;

// Header controls
.recent-txt  {
  margin: 5rem 0 2rem 0;
  font-family: "Sansita Swashed", serif;
  font-weight: 600;
  font-size: 3rem;
}
.recent-line::before  {
  @include media-breakpoint-down(sm){
    width: 20rem;
    height: 0.2rem;
  }
  content: "";
  margin: 0 auto;
  width: 35rem;
  height: 0.3rem;
  display: block;
  background-color: $primary;
  border-radius: 0 0 1rem 1rem;
}
.recent-line::after  {
  @include media-breakpoint-down(sm){
    width: 5rem;
    height: 0.3rem;
  }
  content: "";
  margin: 0 auto;
  padding-top: 0.5rem;
  width: 10rem;
  height: 0.5rem;
  display: block;
  background-color: $primary;
  border-radius: 0 0 1rem 1rem;
}
// Carousel
.carousel-modify  {
  margin: 2em 0 0 0;
  border-radius: 1.8rem;
}
.carousel-txt  {
  @include rec-bac-gradient;
  border-radius: 2rem;
  color: $white;
  font-family: serif;
  h5  {
    font-size: 2rem;
    font-family: Sansita Swashed, serif;
  }
  p  {
    font-size: 1.1rem;
    padding: 0 2rem 0 2rem
  }
}
.rec-btn  {
  @include rec-btn-gradient;
  color: $white;
  border: 1px solid $gray-500;
  &:hover  {
    @include rec-btnhov-gradient;
  }
}