@use '../custom' as *;
@use '../mixins' as *;

// Header controls
.recent-txt  {
  margin: 5rem 0 2rem 0;
  font-family: "Sansita Swashed", serif;
  font-weight: 600;
  font-size: 3rem;
}
.recent-line::before  {
  @include media-breakpoint-down(sm){
    width: 20rem;
    height: 0.2rem;
  }
  content: "";
  margin: 0 auto;
  width: 35rem;
  height: 0.3rem;
  display: block;
  background-color: $primary;
  border-radius: 0 0 1rem 1rem;
}
.recent-line::after  {
  @include media-breakpoint-down(sm){
    width: 5rem;
    height: 0.3rem;
  }
  content: "";
  margin: 0 auto;
  padding-top: 0.5rem;
  width: 10rem;
  height: 0.5rem;
  display: block;
  background-color: $primary;
  border-radius: 0 0 1rem 1rem;
}