@use '../scss/custom' as *;

//Gradients

// Theme Gradient
@mixin gradient  {
  background: linear-gradient(to right, rgba($dark-red, 1), rgba($lite-red, 1));
}
// Hero Gradient
@mixin hro-gradient  {
  background: linear-gradient(to right, rgba($lite-gray, 0.95), rgba($black, 0.9));
}
// About Gradient
@mixin abt-gradient  {
  background: linear-gradient(to right, rgba($black, 0.9), rgba($lite-gray, 0.8));
}
// Button Gradient
@mixin btn-gradient  {
  background: linear-gradient(to right, rgba($lite-gray, 0.75), rgba($lite-red, 0.95));
}