@use '../../custom' as *;
.gradcol {
  background: linear-gradient(to right, rgba($dark-red, 0.95), rgba($lite-red, 0.95));
  li  {
    padding: 0 0.8rem;
  }
}
// Controls Brand
.nav-name  {
  text-shadow: 3px 2px 1px rgba(41, 41, 41, 0.842);
  font-family: "Fascinate", serif;
  font-size: 1.7rem;
  color: rgba(235, 235, 235, 0.842);
}
// Controls links design
.nav-custom  {
  font-size: 0.9rem;
  font-family: "Edu NSW ACT Cursive", serif;
  font-weight: 600;
}
