@use '../custom' as *;
@use '../mixins' as *;
@use '../keyframes' as *;

.discord-section  {
  @include hro-gradient;
  box-shadow: rgba(94, 94, 94, 0.644) 0px 30px 60px -12px inset;
  border-top: 0.05rem solid $gray-600;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.discord-left  {
  margin: 0;
}
.discord-logo  {  
  @include media-breakpoint-down(sm){
    display: none;  
  }
  margin: 3rem 0 0 20rem;
  padding: 0;
  width: 20rem;
  height: 18rem;
  display: block;
}
.discord-right  {
  @include media-breakpoint-down(sm){
   margin: 2rem;
   padding: 0;
  }
  margin: 0;
  padding: 2rem 2rem 0 5rem;
  h3  {
    @include media-breakpoint-down(sm){
      margin: 1rem;
      font-size: 1.4rem;
    }
    margin: 1rem 0 3rem 0;
    color: $white;
    text-align: center;
    font-family: chewy, serif;
    font-size: 3rem;
  }
  p  {
    @include media-breakpoint-down(sm){
      font-size: 0.9rem;
      font-family: serif;  
      padding: 1rem 2.8rem 1rem 2rem;
    }
    color: $white;
    font-family: serif;
    font-size: 1.1rem;
  }
}