@use '../custom' as *;
@use '../mixins' as *;
@use '../keyframes' as *;

.discord-section  {
  @include hro-gradient;
  box-shadow: rgba(94, 94, 94, 0.644) 0px 30px 60px -12px inset;
  border-top: 0.05rem solid $gray-600;
}
.discord-left  {
  margin: 0;
}
.discord-logo  {  
  @include media-breakpoint-down(sm){
    display: none;  
  }
  margin: 0;
  padding: 0;
  width: 40rem;
  height: 24rem;
  opacity: 0.6;
  display: block;
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%);
  mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.discord-right  {
  margin: 0;
  padding: 2rem 2rem 0 5rem;
  h3  {
    @include media-breakpoint-down(sm){
      font-size: 2rem;
    }
    margin: 1rem 0 3rem 0;
    color: $white;
    text-align: center;
    font-family: chewy, serif;
    font-size: 3rem;
  }
  p  {
    color: $white;
    font-family: serif;
    font-size: 1.1rem;
  }
}