@use '../custom' as *;
@use '../mixins' as *;

.hero-bg  {
  @include hro-gradient;
}
.hero  {
  margin: 0 0 1rem 0;
  padding: 4rem 0 0 0;
  h2  {
    font-family: Chewy, serif;
    font-size: 3rem;
    font-weight: 200;
    color: $white;
  }
  p  {
    color: $white;
  }
}
