@use '../custom' as *;
@use '../mixins' as *;

.hero-bg  {
  @include hro-gradient;
}
.hero  {
  margin: 0 0 1rem 0;
  padding: 4rem 5rem 0 0;
  h2  {
    font-family: Chewy, serif;
    font-size: 3rem;
    font-weight: 200;
    color: $white;
  }
  p  {
    color: $white;
  }
}
.hero-img  {
  margin: 0;
  img  {
    width: 50rem;
    height: 20rem;
    opacity: 0.7;
    display: block;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%);
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    }
}