@use '../custom' as *;
@use '../mixins' as *;

.menu {
  @include gradient;
  li  {
    padding: 0 0.8rem;
    a  {
      color: $white;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
  border: 1px solid rgba($black, 0.5);
}
// Controls Brand
.nav-name  {
  @include media-breakpoint-down(sm){
    font-size: 1.3rem;
  }
  &:hover  {
    color: $chestnut;
    text-shadow: 3px 2px 2px rgba(128, 83, 0, 0.842);
  }
  margin-left: 1.5rem;
  text-shadow: 3px 2px 1px rgba(41, 41, 41, 0.842);
  font-family: "Fascinate", serif;
  font-size: 2.3rem;
  color: $gray-300;
}
.nav-timer  {
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: $white;
  font-family: chewy, serif;
  font-size: 1rem;
  border: 0.16rem solid $white;
  border-radius: 2rem;
}
// Controls links design
.nav-custom  {
  font-size: 0.9rem;
  font-family: "Edu NSW ACT Cursive", serif;
  font-weight: 600;
}
// Home Page - E-mail Me
.btn-rounded  {
  @include media-breakpoint-down(sm){
    display: none;
  }
  position: relative;
  padding: 0.9rem 3.4rem 0.9rem 1.7rem;
  margin: 0.1rem 1.2rem;
  border: 0.1rem solid rgba($chestnut, 0.8);
  background-color: $chestnut;
  box-shadow: 3px 5px 5px $secondary;
  font-weight: 500;
	font-family: "Edu NSW ACT Cursive", serif;
  span  {
    position: absolute;
    background-color: $primary;
    width: 2.7rem;
    height: 2.7rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
		i  {
		color: $white;
		font-size: 1rem;
		line-height: 2.5rem;
		}
  }
  &:hover  {
			@include btn-gradient;
			box-shadow: 0px 0px 0px $secondary;
			background-color: $lite-red;
			color: $white;
			border: 0.1rem solid rgba($lite-gray, 0.4);
  }
}