@use '../custom' as *;
@use '../mixins' as *;

.bg-layer  {
  @include hro-gradient;
  box-shadow: rgba(94, 94, 94, 0.644) 0px 30px 60px -12px inset;
  border-top: 0.05rem solid $gray-600;
}
.wordpress  {
  margin: 0;
  padding: 2rem 2rem 0 5rem;
  h3  {
    margin: 4rem 0 4rem 0;
    color: $white;
    text-align: center;
    font-family: Chewy, serif;
    font-size: 3rem;
  }
  p  {
    color: $white;
    font-family: serif;
    font-size: 1.1rem;
  }
}
.wordpress-img  {
  margin: 4rem 0 0 20rem;
  width: 16rem;
  height: 17rem;
}