@use '../custom' as *;
@use '../components/mixins' as *;

// Home Page - E-mail Me
.btn-rounded  {
  @include media-breakpoint-down(sm){
    display: none;
  }
  position: relative;
  padding: 0.9rem 3.4rem 0.9rem 1.7rem;
  margin: 0.1rem 1.2rem;
  border: 0.1rem solid rgba($chestnut, 0.8);
  background-color: $chestnut;
  box-shadow: 3px 5px 5px $secondary;
  font-weight: 500;
	font-family: "Edu NSW ACT Cursive", serif;
  span  {
    position: absolute;
    background-color: $primary;
    width: 2.7rem;
    height: 2.7rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
		i  {
		color: $white;
		font-size: 1rem;
		line-height: 2.5rem;
		}
  }
  &:hover  {
			@include btn-gradient;
			box-shadow: 0px 0px 0px $secondary;
			background-color: $lite-red;
			color: $white;
			border: 0.1rem solid rgba($lite-gray, 0.4);
  }
}