@use '../custom' as *;
@use '../components/mixins' as *;

.display-2  {
  text-transform: capitalize;

&--intro  {
  display: inline-block;
  margin: 3.5rem 0 1rem 0;
  font-family: "Sansita Swashed", serif;
  font-weight: 700;
  font-size: 6rem;
  color: $white;
}
&--description  {
  font-size: 1rem;
  display: block;
  color: $black;
  margin-top: 1.2rem;
  text-transform: none;
}
}