@use '../custom' as *;
@use '../components/mixins' as *;

.display-2  {
  text-transform: capitalize;
&--intro  {
  @include media-breakpoint-down(sm){
    font-size: 4rem;
    margin: 1.5rem 0 1.5rem 0;
  }
  display: inline-block;
  margin: 3.5rem 0 1rem 0;
  font-family: "Sansita Swashed", serif;
  font-weight: 700;
  font-size: 6rem;
  color: $white;
}
&--description  {
  @include media-breakpoint-down(sm){
    font-size: 1rem;
    margin: 1.5rem 0 1.5rem 0;
  }
  font-size: 1rem;
  display: block;
  color: $black;
  margin-top: 1.2rem;
  text-transform: none;
  color: $white;
  margin-top: 1.2rem;
  font-family: "Sansita Swashed", serif;
}
}