@use '../../custom' as *;
@use '../../components/mixins' as *;

// Left side - Trusted by section
.trusted-main  {
    border-right: 2px solid $black;
}

.trusted-section  {
  margin: 2rem 0 0 0;
  padding: 0;
  &--header  {
    font-size: 3rem;
    font-family: "Sansita Swashed", serif;
  }
}